html {
    height: 100%;
}
body {
    background: url('stormtrooper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap {
    background: rgb(6,6,6);
    background: linear-gradient(0deg, rgba(6,6,6,0.6671043417366946) 100%, rgba(255,255,255,1) 100%);
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    display: inline-block;
    border-bottom: 4px solid;
}

.floatleft {
    color: whitesmoke;
    float: left;
    position: absolute;
    width: 65%;
    height: 100%;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px grey;
    word-wrap: break-word;
   
}

.floatright {
    color: lightblue;
    float: right;
    position: static;
    width: 10%;
    height: 100%;
    margin: auto;
    text-align: center;
    border-left: solid;
    border-left-color: black;
    bottom: 1px;
    text-shadow: 1px 1px white;
    font-size: 1.1em;
}

.bottom {
    width: 100%;
    height: 100%;
    bottom: 1px;
    right: 0;
}
.navagationbar {
    position: fixed;
    left: 3%;
    top: 400px;
    width: 100px;
    height: 225px;
    align-content: center;
}

.navbox{
    height: 33.33333%;
    width: 100%;
    text-align: center;
    align-content: center;
    position: relative;
    display: inline-block;

}
.navboxcontent {
    height: 100%;
    width: 100%;
    font-weight: 500;
    color: white;
    text-shadow: 2px 1px grey;
    position: absolute;
    border: 3px solid black;
    background: rgb(6,6,6);
    background: linear-gradient(0deg, rgba(6,6,6,0.6671043417366946) 100%, rgba(255,255,255,1) 100%);
}
.container{
    background: white;
    width: 100vw;
    height: 800px;
    top: 80%;
    left: 0%;
    text-align: center;
    display: inline-block;
    border: 3px solid black;
}
.header {
    font-size: 60px;
    width: 50%;
    left: 25%;
    position: relative;
}
.containerpart2 {
    background: rgb(6,6,6);
    background: linear-gradient(0deg, rgba(6,6,6,0.6671043417366946) 100%, rgba(255,255,255,1) 100%);
    height: 600px;
    width: 60%;
    position: relative;
    left: 25%;
}
.containerpart3{
    background: white;
    height: 500px;
    width: 80%;
    position: relative;
    left: 10%;
    top: 2%;
}
.separator{
    height: 1100px;
    width: 100%;
   
}